.ui_main-menu {
    position: absolute;
    width: 300px;
    min-height: 400px;
    top: 280px;
    left: 120px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.ui_main-menu-list {
    list-style-type: none;
}

.ui_main-menu-item {
    font-size: 1.3rem;
    border-bottom: 2px solid white;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
    transition-duration: .3s;
}

.ui_main-menu-item:hover {
    border-bottom: 2px solid aqua;
    background: white;
}